:root{
  --bg:#f6f3ee;
  --text:#1f2328;
  --link:#c82354;
  --caption:#44474b;
  --muted:rgba(0,0,0,.6);
  --rule:rgba(0,0,0,.10);

}

@font-face{
  font-family: "Special Elite";
  src: url("/assets/fonts/special-elite-regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Raleway";
  src: url("/assets/fonts/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Raleway-Semibold";
  src: url("/assets/fonts/raleway-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Staatliches";
  src: url("/assets/fonts/staatliches-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body{
  margin:0;
  background:var(--bg);
  color:var(--text);
  font-family:  "Source Serif 4", Georgia, ui-serif, serif; 
  font-size:18px;
  line-height:1.6;
  text-align:justify;
}

main{
  max-width:47rem;
  margin:3rem auto;
  padding:0 1.25rem;
}

a {
  color:var(--link);
  text-decoration:none;
}

a:hover {
  color:var(--link);
  text-decoration:none;
}

img{
  max-width:100%;
  height:auto;
  display:block;
  margin:1.25rem auto;
}

@media (max-width: 600px) {
  h1.title{ text-align: left; }
  body{font-size:1rem;}
  figure{margin: 1.25rem 0;}
}

.nav{
  max-width:46rem;
  margin:1.5rem auto 0;
  padding:0 1.25rem;
  display:flex;
  gap:1rem;
}

.nav a{
  color:var(--text);
  opacity:.85;
}
.nav a:hover{color:var(--link); opacity:1; }

.typewriter{
  font-family: "Special Elite", "Courier New", ui-monospace, monospace;
}

.caption {
  color:var(--caption);
  text-align: center;
  font-family: "Raleway", system-ui, sans-serif;
  font-size: 1rem;
  margin-bottom: 1.75rem;
}

.title {
  /* font-size: 36px; */
  font-family: "Special Elite", "Courier New", ui-monospace, monospace;
  font-size: clamp(2.75rem, 4vw, 3.25rem);
  /* font-size: 3.25rem; */
  font-weight: 600;
  margin: 0;
}

h1.title{
  display: block;
  text-align:left;
  margin: 0;
}

.deck{
  margin-top: 0;
  font-family: "Raleway-Semibold", system-ui, sans-serif;
  font-weight: 600;
  /* font-size: clamp(20px, 4vw, 28px);            */
  font-size: 2rem;         
  color: var(--muted);
  position: relative;
}

h2 .deck {
  display: block;
  
}

.materials-headline {
  font-family: "Special Elite", "Staatliches", "Courier New";
  font-size: clamp(20px, 4vw, 28px);
  font-weight: 600;
  color: var(--caption);
}

.material {
  color:var(--text);
}

